extends layout
block content
    if canManageCalendar
        a.btn.btn-primary(href='/event/add', role='button') Manage Calendar
        a.btn.btn-primary(href='/event/feedback', role='button') Manage Feedback

    .card-columns
        each event in eventsOfWeek
            .card(style="max-width: 18rem;")
                .h3.card-header.text-center #{event.date.getDate()}/#{event.date.getMonth() + 1}/#{event.date.getFullYear()}
                each eventInDay in event.events
                    .card
                        .card-body
                            .h5.card-title.text-center #{eventInDay.nameOfEvent}
                            .h6.card-text Game name : #{eventInDay.gameName}
                            .h6.card-text Place left : #{eventInDay.maxPlayer - eventInDay.playerComing}
                            .h6.card-text localisation : #{eventInDay.localisation}
                            .small.card-text #{eventInDay.information}
                            .text-center
                                if  eventEnrolled[eventInDay._id]
                                    .text-secondary enrolled.
                                else
                                    a.btn.btn-primary(href='/event/enroll/' + eventInDay._id, role='button') enroll »

                                if canManageCalendar
                                    a.btn.btn-primary(href='/event/game/' + eventInDay._id, role='button') finish »
