extends layout
block content
    .p
    if canManageCalendar
        a.btn.btn-raised(href='/event/add', role='button') Manage Calendar
    .card-columns
        each event in eventsOfWeek
            .card(style="max-width: 18rem;")
                .h3.card-header.text-center #{event.date.getDate()}/#{event.date.getMonth() + 1}/#{event.date.getFullYear()}
                each eventInDay in event.events
                    .card
                        .h5.card-title Name : #{eventInDay.nameOfEvent}
                        .h6.card-title Game name : #{eventInDay.gameName}
                        .h6.card-title Place left : #{eventInDay.maxPlayer - eventInDay.playerComing}
                        .h6.card-title localisation : #{eventInDay.localisation}
                        .card-text #{eventInDay.information}

