extends layout
block content

    if canManageCalendar
        .container
            h3 Admin actions
            .pb-2.mt-2.mb-4.border-bottom
            .left
                .row
                    .col-lg-4
                        a.btn(href='/event/add') Manage Calendar »
                    .col-lg-4
                        a.btn(href='/event/feedback') Manage Feedback »
    .container-fluid

        h3 Events
        .pb-2.mt-2.mb-4.border-bottom
        .card-columns.align-items-center
            each event in eventsOfWeek
                .card(style="max-width: 18rem;")
                    .h3.card-header.text-center #{event.date.getDate()}/#{event.date.getMonth() + 1}/#{event.date.getFullYear()}
                    each eventInDay in event.events
                        .card
                            .card-body.table-responsive
                            .thread-light
                                .row
                                    .col Game name :
                                    .col #{eventInDay.gameName}
                                .row
                                    .col Place left
                                    .col #{eventInDay.maxPlayer - eventInDay.playerComing}
                                .row
                                    .col-lg-auto.card-text Localisation :  #{eventInDay.localisation}
                                .row
                                    .col Information : #{eventInDay.information}

                                .card-footer
                                    .text-center
                                        .table-borderless.thead-light
                                            .row
                                                if  eventEnrolled[eventInDay._id]
                                                    .col.small enrolled.
                                                else
                                                    .col
                                                        a.card-link(href='/event/enroll/' + eventInDay._id, role='button') enroll »

                                                if canManageCalendar
                                                    .col
                                                        a.card-link(href='/event/game/' + eventInDay._id, role='button') finish »
